<app-header></app-header>
<section class="about">
    <article class="card mb-3 card-about">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/miih.jpg" alt="..."class="img-fluid"/>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Sobre mim</h3>
            <p class="card-text">
                Me chamo Milene Seles de Araújo, tenho 20 anos, nasci no municipio de Brotas de Macaubas 
                localizado no estado da Bahia. <br>
                This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer. Lorem ipsum dolor sit, amet 
                consectetur adipisicing elit. Perferendis aliquam minima voluptatibus voluptas cupiditate 
                incidunt explicabo itaque, iste doloremque! Tempora praesentium rem laudantium, minus labore 
                ullam soluta. Deleniti, nulla aperiam? <br> Abaixo vou apresentar algumas infomações adicionas
                sobre o que gosto de fazer.
            </p>
          </div>
        </div>
      </div>
  </article>
    <article class="card mb-3 card-about">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/img/astrodev.jpg" alt="..."class="img-fluid"/>
        </div>
      </div>
  </article>
    <article class="card mb-3 card-about">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/astrolanche.jpg" alt="..."class="img-fluid"/>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
            </p>
          </div>
        </div>
      </div>
  </article>
    <article class="card mb-3 card-about">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/img/astrotwo.webp" alt="..."class="img-fluid"/>
        </div>
      </div>
  </article>
  
</section>
<app-footer></app-footer>
