.about{
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    .card-about{
        box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
        margin: auto ;
        max-width: 60%;
    }
}