<app-header></app-header>
<section class="about">
    <article class="card mb-3 card-about">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/miih.jpg" alt="..."class="img-fluid"/>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Sobre</h3>
            <p class="card-text">
                Me chamo Milene Seles de Araújo, tenho 22 anos, minha jornada teve inicio em um pequeno povoado no interior da Bahia.
                Antes da minha adolescência, nunca tinha tido contato com a tecnologia e foi esta época que tive interesse e curiosidade 
                em entender como tudo funcionava e o que estava por trás de tudo aquilo. E assim nasceu minha paixão e pretendo trabalhar com ela. <br>
                <br> Abaixo vou apresentar algumas infomações adicionas sobre o que gosto de fazer.
            </p>
          </div>
        </div>
      </div>
  </article>
    <article class="card mb-3 card-about">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Tirar fotos das paisagens</h5>
            <p class="card-text">
                Pois penso que é uma das maneiras de eternizar os momentos unicos e especiais vividos, que a natureza nos presenteia
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/img/astroCamera.jpg" alt="..."class="img-fluid"/>
        </div>
      </div>
  </article>
    <article class="card mb-3 card-about">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/astrolanche.jpg" alt="..."class="img-fluid"/>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Cozinhar</h5>
            <p class="card-text">
              Quando cozinhamos e comemos nosso cérebro libera substâncias químicas de prazer, e por esse motivo nos sentimos bem.
            </p>
          </div>
        </div>
      </div>
  </article>
    <article class="card mb-3 card-about">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Assistir Filmes & Series</h5>
            <p class="card-text">
              O fenômeno que nos permite sentir emoções ao assistir a um filme 
              ou a uma série acontece devido ao neurotransmissor. De forma prática, 
              a ocitocina possibilita que associemos a cena do filme com uma emoção 
              que já conhecemos, como medo, alegria ou tristeza, por exemplo.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/img/astro.jpg" alt="..."class="img-fluid"/>
        </div>
      </div>
  </article>
</section>
<app-footer></app-footer>
