  <app-header></app-header>
  <section class="row">

    <article class="column">
      <div class="card">
        <img src="../../../assets/img/astromoedas.webp" alt="">
      </div>
    </article>

    <article class="column">
      <div class="card">
        <img src="../../../assets/img/astronote.jpg" alt="">
      </div>
    </article>

    <article class="column">
      <div class="card">
        <img src="../../../assets/img/astrophone.webp" alt="">
      </div>
    </article>

    <article class="column">
      <div class="card">   
        <img src="../../../assets/img/astropipoca.jpg" alt="">
      </div>
    </article>

    <article class="column">
      <div class="card">
        <img src="../../../assets/img/astrolendo.jpg" alt="">
      </div>
    </article>

    <article class="column">
      <div class="card">
        <img src="../../../assets/img/astronot.jpg" alt="">
      </div>
    </article>

    <article class="column">
      <div class="card">
        <img src="../../../assets/img/astrocafe.jpg" alt="">
      </div>
    </article>
    
    <article class="column">
      <div class="card">
        <img src="../../../assets/img/astropiscina.jpg" alt="">
      </div>
    </article>

    <article class="column">
      <div class="card">   
        <img src="../../../assets/img/astronote.jpg" alt="">
      </div>
    </article>

  </section>

  <app-footer></app-footer>
  