.conteudo{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0rem;
  }
  
  .cartoes {
    display: grid;
    margin-left: 12%;
    grid-gap: 20px;
    grid-template-columns: 20.5em 20.5em 20.5em ;
    grid-template-rows: 300px 300px 300px 300px ;
  }
  
  .cartao {
    height: 100%;
    perspective: 1000px;
    width: 100%;
  }
  
  .cartao-container {
    height: 100%;
    position: relative;
    transition: transform .6s;
    transform-style: preserve-3d;
  }
  
  .cartao:hover .cartao-container {
    transform: rotateY(180deg);
  }
  
  .cartao-front, .cartao-back {
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .cartao-front {
    background: #666;
  }
  
  .cartao-back {
    background: #fff;
    background-color: #f7f6e8;
    box-sizing: border-box;
    color: #44432a;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px;
    transform: rotateY(180deg);
  }
  
  .cartao1 .cartao-front {
    background-image: url(../../../assets/img/atrodev.jpg);
    background-size: cover;
    background-position: 30%
  }
  
  .cartao2 .cartao-front {
    background-image: url(../../../assets/img/astrolanche.jpg);
    background-size: cover;
    background-position: 60%
  }
  
  .cartao3 .cartao-front {
    background-image: url(../../../assets/img/astrolendo.jpg);
    background-size: cover;
    background-position: 100%
  }
  
  .cartao4 .cartao-front {
    background-image: url(../../../assets/img/astrocafe.jpg);
    background-size: cover;
    background-position: 100%
  }

  .cartao5 .cartao-front {
    background-image: url(../../../assets/img/atropiscina.jpg);    
    background-size: cover;
    background-position: 100%
  }
  
  .cartao6 .cartao-front {
    background-image: url(../../../assets/img/astromusica.jpg);
    background-size: cover;
    background-position: 100%
  }
  
  .cartao7 .cartao-front {
    background-image: url(../../../assets/img/astronot.jpg);
    background-size: cover;
    background-position: 100%
  }
  
  .cartao8 .cartao-front {
    background-image: url(../../../assets/img/astronote.jpg);  
    background-size: cover;
    background-position: 100%
  }
  
  .cartao9 .cartao-front {
    background-image: url(../../../assets/img/astropipoca.jpg);
    background-size: cover;
    background-position: 100%
  }
  
  .cartao10 .cartao-front {
    background-image: url(../../../assets/img/atrorosquinha.jpg);   
    background-size: cover;
    background-position: 100%
  }