 *{
    margin: 0px;
    padding: 0px;
}

.contents{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 10px;

    h5 {
        font-size: 14px;
        font-weight: 900px;
        padding-bottom: 5px;
    }
    
} 

.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}
.card {
    margin: 10px 10px;
}



