<app-header></app-header>

<section class="contents">
  <div class="container">
    <div class="row"> 
      <article class="col-md-3">
        <div class="card text-center">
          <img src="../../../assets/img/astrotwo.webp" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, voluptatem iure reprehenderit itaque praesentium cum non quo ipsam deleniti repudiandae, provident saepe voluptatum, similique molestiae. Quidem velit dolore fuga sapiente.</p>
          </div>
        </div>
      </article>
      <article class="col-md-3">
        <div class="card text-center">
          <img src="../../../assets/img/astroterra.webp" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, voluptatem iure reprehenderit itaque praesentium cum non quo ipsam deleniti repudiandae, provident saepe voluptatum, similique molestiae. Quidem velit dolore fuga sapiente.</p>
          </div>
        </div>
      </article>
      <article class="col-md-3">
        <div class="card text-center">
          <img src="../../../assets/img/astrorosquinha.jpg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, voluptatem iure reprehenderit itaque praesentium cum non quo ipsam deleniti repudiandae, provident saepe voluptatum, similique molestiae. Quidem velit dolore fuga sapiente.</p>
          </div>
        </div>
      </article>
      <article class="col-md-3">
        <div class="card text-center">
          <img src="../../../assets/img/astropiscina.jpg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, voluptatem iure reprehenderit itaque praesentium cum non quo ipsam deleniti repudiandae, provident saepe voluptatum, similique molestiae. Quidem velit dolore fuga sapiente.</p>
          </div>
        </div>
      </article>
      <article class="col-md-3">
        <div class="card text-center">
          <img src="../../../assets/img/astropipoca.jpg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, voluptatem iure reprehenderit itaque praesentium cum non quo ipsam deleniti repudiandae, provident saepe voluptatum, similique molestiae. Quidem velit dolore fuga sapiente.</p>
          </div>
        </div>
      </article>
      <article class="col-md-3">
        <div class="card text-center">
          <img src="../../../assets/img/astrophone.webp" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, voluptatem iure reprehenderit itaque praesentium cum non quo ipsam deleniti repudiandae, provident saepe voluptatum, similique molestiae. Quidem velit dolore fuga sapiente.</p>
          </div>
        </div>
      </article>
      <article class="col-md-3">
        <div class="card text-center">
          <img src="../../../assets/img/astromusica.jpg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, voluptatem iure reprehenderit itaque praesentium cum non quo ipsam deleniti repudiandae, provident saepe voluptatum, similique molestiae. Quidem velit dolore fuga sapiente.</p>
          </div>
        </div>
      </article>
      <article class="col-md-3">
        <div class="card text-center">
          <img src="../../../assets/img/astrolanche.jpg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, voluptatem iure reprehenderit itaque praesentium cum non quo ipsam deleniti repudiandae, provident saepe voluptatum, similique molestiae. Quidem velit dolore fuga sapiente.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<app-footer></app-footer>