<section class="conteudo">
  <div class="cartoes">

    <article class="cartao cartao1">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
          Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article>

    <article class="cartao cartao2">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
          Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article>

    <article class="cartao cartao3">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
          Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article>

    <article class="cartao cartao4">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
          Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
   </article>

   <article class="cartao cartao5">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
          Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article>

    <article class="cartao cartao6">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
            Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article>   

    <article class="cartao cartao7">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
            Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article>

    <article class="cartao cartao8">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
            Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article> 

    <article class="cartao cartao9">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
            Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article>

    <article class="cartao cartao10">
      <div class="cartao-container">
        <div class="cartao-front"></div>
        <div class="cartao-back">
            Houve um aumento de 25% da população de gorilas das montanhas, desde 2010. Hoje já são mais de 1000 gorilas nas matas.
        </div>
      </div>
    </article>  
     
  </div>
</section>
