<section class="conteudo">
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/astroadota.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/astromoedas.webp" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/astrophone.webp" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/astrolanche.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/astroadota.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/astromoedas.webp" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/astrophone.webp" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/img/astrolanche.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>
    
  </section>

  <!-- <mat-card>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Suscipit incidunt, aliquam laboriosam consequuntur voluptates 
      reiciendis illum reprehenderit modi ab consequatur. Aut error 
      cum nam animi quidem repellat nesciunt accusantium eius!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Suscipit incidunt, aliquam laboriosam consequuntur voluptates 
      reiciendis illum reprehenderit modi ab consequatur. Aut error 
      cum nam animi quidem repellat nesciunt accusantium eius!
    </p>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Suscipit incidunt, aliquam laboriosam consequuntur voluptates 
      reiciendis illum reprehenderit modi ab consequatur. Aut error 
      cum nam animi quidem repellat nesciunt accusantium eius!
    </p>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Suscipit incidunt, aliquam laboriosam consequuntur voluptates 
      reiciendis illum reprehenderit modi ab consequatur. Aut error 
      cum nam animi quidem repellat nesciunt accusantium eius!
    </p>
  </mat-card>
  <br> -->