 *{
    margin: 0px;
    padding: 0px;
}

.hobbies{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px 10px;    
} 

.title{
    padding: 25px 0px;
    text-align: center;
}
.title p {
    font-size: 18px;
}
.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}
.card {
    margin: 10px 10px;
}
.card-body a {
    color: rgb(70, 38, 252);
    font-size: 15px;
    font-weight: 600px;
    margin: auto;
    text-decoration: none;
}


