<app-header></app-header>
<section class="hobbies">
  <div class="container">
    <div class="row"> 
      <article class="col-md-4">
        <div class="card text-center">
          <img src="../../../assets/img/astroadota.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">GYM FLOOR</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-info">Ver mais</button>

          </div>
        </div>
      </article>
      <article class="col-md-4">
        <div class="card text-center">
          <img src="../../../assets/img/astroadota.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">GYM FLOOR</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn btn-primary" href="#" role="button">ver mais</a>
          </div>
        </div>
      </article>
      <article class="col-md-4">
        <div class="card text-center">
          <img src="../../../assets/img/astroadota.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">GYM FLOOR</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-outline-info">Ver mais</button>
          </div>
        </div>
      </article>
      <article class="col-md-4">
        <div class="card text-center">
          <img src="../../../assets/img/astroadota.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">GYM FLOOR</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-primary btn-lg">Ver mais</button>
          </div>
        </div>
      </article>
      <article class="col-md-4">
        <div class="card text-center">
          <img src="../../../assets/img/astroadota.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">GYM FLOOR</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn cor-hf btn-lg btn-block">Ver mais</button>
          </div>
        </div>
      </article>
      <article class="col-md-4">
        <div class="card text-center">
          <img src="../../../assets/img/astroadota.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">GYM FLOOR</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#">Veja mais</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<app-footer></app-footer>